@page "/contacto"

<h1 class="text-center">Tienes dudas o quieres agendar con nosotros</h1>

<div class="text-center">
    <img src="Imagenes/Contacto.jpeg" alt="Cumpleaños" class="img-fluid" style="max-width: 600px; height: auto;" />
</div>