@page "/fechasimportantes"

<PageTitle>IpsoMedikal</PageTitle>


<h1>Felicidades a nuestros cumpleañeros del mes...!!!</h1>

<p>Aquí hay una imagen:</p>

<img src="Imagenes/cumpleanos.jpeg" alt="Cumpleaños" />