@page "/"

<PageTitle>Home</PageTitle>


<h1>IpsoMedikal !!!</h1>

Bienvenido estás en el lugar correcto.

<div class="text-center">
<MyCarousel></MyCarousel>
</div>

<p>"Hoy en día, más del 70% de los pacientes investiga en línea antes de elegir a su médico. Si su práctica no está bien posicionada en la web, está perdiendo oportunidades valiosas."
En IPSO MEDIKAL GRUPO, entendemos la importancia de estar presentes en el entorno digital para acercarnos a ti y mejorar tu salud y bienestar con la ayuda de nuestros expertos. Nos especializamos en el tratamiento del sobrepeso y la obesidad, combinando la medicina estética y regenerativa para ofrecerte un enfoque personalizado y eficaz.
Nos especializamos en el tratamiento del sobrepeso y la obesidad, combinando la medicina estética y regenerativa para ofrecerte un enfoque personalizado y eficaz."
A través de nuestras consultas especializadas, te ofrecemos la oportunidad de alcanzar tu mejor versión, de la mano de nuestros médicos expertos.
Y para estar más cerca de ti, IPSO MEDIKAL GRUPO ha desarrollado una presencia digital efectiva. Encuentra toda la información que necesitas en nuestras redes sociales y página web.
Aprovecha nuestras ofertas exclusivas en línea y mantente al tanto de las últimas novedades en salud y estética.
Da el primer paso hacia una vida más saludable y llena de confianza. Contáctanos hoy y agenda tu consulta en IPSO MEDIKAL GRUPO. “Tu bienestar es nuestra prioridad."
</p>