<Carousel ShowIndicators="true" Autoplay="CarouselAutoPlay.StartOnPageLoad" >
    <CarouselItem Active="true">
        <Image Src="Imagenes/Ipso1.jpeg" class="img-fluid" style="max-width: 500px; height: auto;" />
        <CarouselCaption style="color: black;">
            <h2>Earth Day</h2>
            <p>Let's unite to protect our planet and create a sustainable future for generations to come.</p>
        </CarouselCaption>
    </CarouselItem>
    <CarouselItem>
        <Image Src="Imagenes/Ipso2.jpg" class="img-fluid" style="max-width: 500px; height: auto;" />
    </CarouselItem>
    <CarouselItem>
        <Image Src="Imagenes/Ipso3.jpg" class="img-fluid" style="max-width: 500px; height: auto;" />
    </CarouselItem>
</Carousel>