@page "/promociones"

<PageTitle>IpsoMedikal</PageTitle>


<h1>Consiente con nuestras promociones del mes...!!!</h1>

@* <p>Aquí hay una imagen:</p> *@

<img src="Imagenes/promociones.jpeg" alt="Promociones" />